#menu1{
    background-color: black;
    color: white;
    text-align: right;
    font: smaller;
}
gold{
    color: gold;
}
.title{
    vertical-align: middle;
    font-weight: bold;
    font-size: 200%;
}
#menu2{
    background-color: gold;
    text-transform: uppercase;

}
.headliners{
    font-size: 125%;
    font-weight: bold;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    font: smaller;
}
p{
   text-indent: .2in
}
